<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>pLAnt</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
    <script type="text/javascript" src="~/Scripts/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="~/Scripts/angular.js"></script>
    <script type="text/javascript" src="~/Scripts/plant.app.js"></script>
    @RenderSection("pageInitScripts", required: false)
    <script type="text/javascript" src="~/Scripts/plant.ng.app.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-animate.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-route.js"></script>
    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function s(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop()); return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) { var s = u && u(config, r, f, e, o); return s !== !0 && t["_" + i](config, r, f, e, o), s }), t
        }({
            instrumentationKey: "b6571ed8-35f9-4b85-bd1a-ecf1e38cd322"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <div class="navbar-fixed">
        <nav class="#ffffff white" role="navigation">
            <div class="nav-wrapper container">

                
                <a href="@Url.Action("Index", "Home")" class="brand-logo"><img class="responsive-img" src="~/Content/img/logo/pLAnt_cursive_logo.jpg"></a>
                <ul class="right hide-on-med-and-down"> 
                    
                    <li><a href="/addimage" style="color:green">Submit a pLAnt</a></li>
                    @*<li><a href="" style="color:green">Volunteer</a></li>*@
                    <li><a href="/garden/list" style="color:green">Recommendations</a></li>
                    <li><a href="/garden" style="color:green">My Garden</a></li>
                    @*<li><a href="" style="color:green">My Community</a></li>*@
                    
    
                    @*<li>@Html.ActionLink("Submit a pLAnt", "Index", "AddImage", new { @class = "green-text text-darken-3" })</li>
                    <li>@Html.ActionLink("Volunteer", "Index", "Home", new { @class = "green-text text-darken-3" })</li>
                    <li>@Html.ActionLink("Recommendations", "List", "Garden", new { @class = "green-text text-darken-3" })</li>
                    <li>@Html.ActionLink("My Garden", "Index", "Garden", new { @class = "green-text text-darken-3" })</li>
                    <li>@Html.ActionLink("My Community", "Index", "Help", new { @class = "green-text text-darken-3" })</li>*@
                    
                    <li><a class="waves-effect waves-light btn modal-trigger" href=" #modal1">Login</a></li>


                </ul>
                <!-- Modal Structure -->

                <ul id="nav-mobile" class="side-nav" style="left: -250px;">
                    
                    <li><a href="/addimage/index" style="color:green">Submit a pLAnt</a></li>
                    @*<li><a href="" style="color:green">Volunteer</a></li>*@
                    <li><a href="/garden/list" style="color:green">Recommendations</a></li>
                    <li><a href="/garden" style="color:green">My Garden</a></li>
                    @*<li><a href="" style="color:green">My Community</a></li>*@
                    
                    
                    
                    @*<li>@Html.ActionLink("Submit a pLAnt", "Index", "AddImage", new { @class = "green-text text-darken-3" })</li>
                    <li>@Html.ActionLink("Volunteer", "Index", "Home", new { @class = "green-text text-darken-3" })</li>
                    <li>@Html.ActionLink("Recommendations", "List", "Garden", new { @class = "green-text text-darken-3" })</li>
                    <li>@Html.ActionLink("My Garden", "Index", "Garden", new { @class = "green-text text-darken-3" })</li>
                    <li>@Html.ActionLink("Login", "Index", "Help", new { @class = "green-text text-darken-3" })</li>
                    <li><a class="waves-effect waves-light btn modal-trigger" href="#modal1">Login</a></li>*@
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </nav>
    </div>

    <div id="main-content" data-ng-app="plantApp">
        <div ng-cloak>
            @RenderBody()
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery", "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js")
    @RenderSection("scripts", required: false)



</body>
</html>
